
.footer{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 1cm;
    padding: 10px;
    gap: 20px;
    .footer-items{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .footer-right{
            display: flex;
            align-items: center;
            gap: 30px;
        .footer-list{
            display: flex;
            flex-direction: column;
            gap: 24px;
            li{
                font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #56585E;
            }
        }
        }
        .footer-info{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .footer-info-card{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #CCCCCC;
                padding: 10px;
                h2{
                    font-family: Michroma;
font-size: 16px;
font-weight: 400;
line-height: 28px;
gap: 30px;
display: flex;
gap: 30px;
                }
            }
        }
        .footer-icon{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            // border-top: 1px solid #CCCCCC;
            padding: 15px;
            button{
                width: 100%;
height: 50px;
border-radius: 20px ;
background-color: #56585E;
border: none;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
font-family: Michroma;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: #FFFFFF;
            }
        }
    }
    
}
@media (min-width:800px) {
    .footer{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 1cm;
        padding: 10px;
        gap: 20px;
        .footer-items{
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 20px;
          .footer-flex{
            display: flex;
            gap: 100px;
            .footer-right{
                display: flex;
                align-items: center;
                gap: 30px;
            .footer-list{
                display: flex;
                flex-direction: column;
                gap: 24px;
                li{
                    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #56585E;
                }
            }
            }
            .footer-info{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .footer-info-card{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #CCCCCC;
                    padding: 10px;
                    h2{
                        font-family: Michroma;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    gap: 30px;
    display: flex;
    gap: 30px;
                    }
                }
            }
          }
            .footer-icon{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: end;
                gap: 10px;
                // border-top: 1px solid #CCCCCC;
                padding: 15px;
                button{
                    width: 330px;
    height: 50px;
    border-radius: 20px ;
    background-color: #56585E;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Michroma;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
                }
            }
        }
        
    }
}
@media (min-width:1200px) {
    .footer{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 1cm;
        padding: 10px;
        gap: 20px;
        .footer-items{
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 60px;
            padding: 20px;
          .footer-flex{
            display: flex;
            gap: 400px;
            .footer-right{
                display: flex;
                align-items: center;
                gap: 230px;
            .footer-list{
                display: flex;
                flex-direction: column;
                gap: 40px;
                li{
                    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #56585E;
    transition: 0.5s;
    &:hover{
        color: aqua;
    }
                }
            }
            }
            .footer-info{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 60px;
                .footer-info-card{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #CCCCCC;
                    padding: 10px;
                    h2{
                        font-family: Michroma;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    gap: 30px;
    display: flex;
    gap: 30px;
                    }
                }
            }
          }
            .footer-icon{
                width: 73%;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: end;
                gap: 10px;
                border-top: 1px solid #CCCCCC;
                padding: 15px;
                button{
                    width: 430px;
    height: 50px;
    border-radius: 20px ;
    background-color: #56585E;
    border: none;
    font-family: Michroma;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    a{
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    }
    transition: 0.4s;
    &:hover{
        background: transparent;
        border: 1px solid black;
        color: #56585E;
    }
                }
            }
        }
        
    }
}